@import "../../vars.css";

.container {
  padding: 50px 10%;
  background-color: var(--color-background);
  color: var(--color-text);
}

.title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  font-family: var(--font-roboto);
}

.content {
  display: flex;
  gap: 40px; /* Space between skills and experience sections */
}

.skillsSection, .experiencesSection {
  flex: 1;
}

.sectionTitle {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  font-family: var(--font-roboto);
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.skillImageContainer {
  width: 100px;
  height: 100px;
  margin-bottom: 16px;
}

.skillImageContainer img {
  width: 110%;
  height: 110%;
  object-fit: cover;
  border-radius: 0%;
  
  border: 0px solid var(--color-primary);
}

.history {
  list-style: none;
  padding: 70px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: normal; /* Center history items horizontally */
}

.historyItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding: 20px; /* Add padding to create the shading effect */
  background-color: rgba(159, 47, 206, 0.1); /* Background color with opacity */
  border-radius: 8px; /* Rounded corners */
}

.historyItem img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.historyItemDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.historyItemDetails h3 {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.historyItemDetails p {
  margin: 0;
  font-size: 16px;
  color: var(--color-muted-text);
}

.historyItemDetails ul {
  padding-left: 20px;
}

.historyItemDetails ul li {
  font-size: 16px;
}

.skillsSection, .experiencesSection {
  margin-bottom: 20px; /* Space between sections */
  padding: 20px;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 90px;
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  border: 3px;
}

.tool p {
  margin-top: 10px;
}

.toolsList {
  list-style: none;
  padding: 0;
  text-align: left; /* Align tools list items to the left */
}

.toolsList li {
  font-size: 18px;
  margin-bottom: 10px;
}

.toolImageContainer img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--color-primary);
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .skillsSection, .experiencesSection {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 36px;
  }

  .sectionTitle {
    font-size: 28px;
  }

  .skills {
    gap: 15px;
  }

  .history {
    padding: 40px;
  }

  .historyItemDetails h3 {
    font-size: 20px;
  }

  .historyItemDetails p,
  .historyItemDetails ul li {
    font-size: 14px;
  }

  .toolImageContainer img {
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .sectionTitle {
    font-size: 24px;
  }

  .skills {
    gap: 10px;
  }

  .history {
    padding: 20px;
  }

  .historyItem {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .historyItem img {
    width: 60px;
    height: 60px;
  }

  .historyItemDetails h3 {
    font-size: 18px;
  }

  .historyItemDetails p,
  .historyItemDetails ul li {
    font-size: 12px;
  }

  .toolImageContainer img {
    width: 100px;
    height: 100px;
  }
}
