@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items horizontally */
  justify-content: space-between; /* Distribute space between items */
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  width: 345px; /* Fixed width */
  height: 500px; /* Fixed height */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.image {
  width: 100%; /* Make the image take the full width of the container */
  height: 150px; /* Fixed height for the image */
  object-fit: cover; /* Cover the image within the specified dimensions */
  border-radius: 10px; /* Optional: Add border-radius to match the card */
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  text-align: center; /* Center align text */
}

.description {
  margin-top: 6px;
  font-size: 18px; /* Adjust font size to fit the fixed height */
  font-weight: 400;
  text-align: center; /* Center align text */
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
  justify-content: center; /* Center align skills */
}

.skill {
  font-size: 14px; /* Adjust font size to fit the fixed height */
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 12px; /* Adjust padding to fit the fixed height */
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 14px; /* Adjust font size to fit the fixed height */
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 10px 20px; /* Adjust padding to fit the fixed height */
}
